src/main/resources/com/owlcyberdefense/ntp/xsd/ntp-base-types.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2012-2026 Owl Cyber Defense. All rights reserved.
Please see the accompanying COPYRIGHT.txt file for terms of use.
-->
<schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:fn="http://www.w3.org/2005/xpath-functions"
	xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
	xmlns:ntp="urn:owlcyberdefense.com:schema:dfdl:ntp:ntp"
	targetNamespace="urn:owlcyberdefense.com:schema:dfdl:ntp:ntp">

	<include schemaLocation="ntp-baseFormat.dfdl.xsd"/>

	<annotation>
		<appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format ref="ntp:baseFormat"/>
		</appinfo>
	</annotation>

	<!--
	Derive all explicit length integer types from these
	base types.

	Enables the overall schema to be lengthKind 'implicit' which
	is needed for all the complex type elements.
	-->
	<simpleType name="sint" dfdl:lengthKind="explicit">
		<restriction base="xs:int"/>
	</simpleType>

	<simpleType name="uint" dfdl:lengthKind="explicit">
		<restriction base="xs:unsignedInt"/>
	</simpleType>

	<!-- NTP Short Format
		 The 32-bit short format is used in delay and dispersion
		 header fields where the full resolution and range of the other
		 formats are not justified.  It includes a 16-bit unsigned seconds
		 field and a 16-bit fraction field.
		 https://www.rfc-editor.org/rfc/rfc5905#section-7
	-->
	<complexType name="ntpShortTime">
		<sequence>
			<xs:element name="seconds" type="ntp:uint" dfdl:length="16"/>
			<xs:element name="fraction" type="ntp:sint" dfdl:length="16"/>
		</sequence>
	</complexType>

<!--    The 64-bit timestamp format is used in packet headers and other
		places with limited word size.  It includes a 32-bit unsigned seconds
		field spanning 136 years and a 32-bit fraction field resolving 232
		picoseconds.-->

	<complexType name="ntpTimeStamp">
		<xs:sequence>
			<xs:element name="seconds"
				type="ntp:uint"
				dfdl:length="32"/>
			<xs:element name="fraction"
				type="ntp:sint"
				dfdl:length="32"/>
		</xs:sequence>
	</complexType>

	<!-- 
   The 128-bit date format is used where sufficient storage and word
   size are available.  It includes a 64-bit signed seconds field
   spanning 584 billion years and a 64-bit fraction field resolving .05
   attosecond (i.e., 0.5e-18). For convenience in mapping between
   formats, the seconds field is divided into a 32-bit Era Number field
   and a 32-bit Era Offset field.
  -->

  <complexType name="ntpDate">
	  <sequence>
		  <xs:element name="eraNumber" type="ntp:sint" dfdl:length="32"/>
		  <xs:element name="eraOffset" type="ntp:sint" dfdl:length="32"/>
		  <xs:element name="fraction" type="ntp:sint" dfdl:length="64"/>
	  </sequence>
  </complexType>

  <simpleType name="LI" dfdl:length="2">
	  <restriction base="ntp:uint"/>
  </simpleType>

  <simpleType name="VN" dfdl:length="3">
	  <restriction base="ntp:uint"/>
  </simpleType>

  <simpleType name="Mode" dfdl:length="3">
	  <restriction base="ntp:uint"/>
  </simpleType>

  <simpleType name="Stratum" dfdl:length="8">
	  <restriction base="ntp:uint"/>
  </simpleType>

  <simpleType name="Poll" dfdl:length="8">
	  <restriction base="ntp:uint"/>
  </simpleType>

  <simpleType name="Precision" dfdl:length="8">
	  <restriction base="ntp:uint"/>
  </simpleType>

  <simpleType name="RefId" dfdl:length="32">
	  <restriction base="ntp:sint"/>
  </simpleType>        

</schema>
