src/main/resources/com/owlcyberdefense/ntp/xsd/types.dfdl.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:fn="http://www.w3.org/2005/xpath-functions"
        xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
        xmlns:ntp="urn:ntp"
        targetNamespace="urn:ntp"
        elementFormDefault="unqualified">

    <include schemaLocation="baseFormat.dfdl.xsd"/>

    <annotation>
        <appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:format ref="ntp:baseFormat" lengthKind="explicit"/>
        </appinfo>
    </annotation>

    <!-- NTP Short Format
         The 32-bit short format is used in delay and dispersion
         header fields where the full resolution and range of the other
         formats are not justified.  It includes a 16-bit unsigned seconds
         field and a 16-bit fraction field.
         https://www.rfc-editor.org/rfc/rfc5905#section-7
    -->
    <complexType name="ntpShortTime">
        <sequence>
            <xs:element name="seconds" type="xs:unsignedInt" dfdl:length="16"/>
            <xs:element name="fraction" type="xs:int" dfdl:length="16"/>
        </sequence>
    </complexType>

    <complexType name="ntpTimeStamp">
        <sequence>

        </sequence>
    </complexType>

    <complexType name="ntpDate">
        <sequence>

        </sequence>
    </complexType>

</schema>
